@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #063453;
    height: 8vh;
}

.cabecalho h1{
    font-size: calc(1vw + 1.1em);
    margin-left: 0.3em;
    font-family: "Roboto", serif;
}

.hamburguer{
    display: block;
    position: absolute;
    right: 0.5em;
    z-index: 1;
}

.hamburguer .line{
    background: #fff;
    width: 2em;
    height: 0.3em;
    margin: 0.3em;
    transition: all ease 0.5s;
}

.hamburguer.ativar .line:nth-child(1){
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    transition: all ease 0.5s;
}

.hamburguer.ativar .line:nth-child(2){
    opacity: 0;
}

.hamburguer.ativar .line:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    transition: all ease 0.5s;
} 

.navList{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 80vh;
    background: #020507;
    transition: all ease 0.5s;
    opacity: 0;
}

.navList.ativado{
    opacity: 1;
    transition: all ease 0.5s;
}

.navList a{
    color: #fff;
    font-size: calc(1vw + 1em);
}

#quemSomos{
    height: 100vh;
    background: #a3c8e0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#quemSomos h2{
    margin-bottom: 1em;
    text-align: center;
    font-family: "Roboto", serif;
}

#quemSomos p{
    text-align: center;
    font-size: calc(1vw + 0.9em);
    font-family: "Liter", serif;
    margin: 0.5em;
}

#quemSomos .bx{
    font-size: calc(1vw + 2.5em);
    color: #a10d07;
    margin-top: 2em;
    cursor: pointer;
    animation: movimento infinite linear 2s;
}

@keyframes movimento {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(50px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
    }
}

#verificar{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #a3c8e0;
}

.conteudo-cartao{
    margin: 1em;
}

.frenteCartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    height: 10em;
    background: #3d3c3c;
    border-radius: 1em;
    padding: 0.2em;
    margin-bottom: 0.5em;
    font-family: "Liter", serif;
}

.frenteCartao .marca{
    text-align: end;
    margin-bottom: 1.6em;
    margin-right: 0.5em;
    color: #fff;
}

.numeroCartao{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 1em;
    padding: 0.2em;
    width: 100%;
}

.nomeCartao{
    display: flex;
    margin-left: 1em;
    color: #fff;
}

.versoCartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    height: 10em;
    background: #3d3c3c;
    border-radius: 1em;
    font-family: "Liter", serif;
    color: #fff;
}

.versoCartao span{
    background: #000;
    height: 4vh;
    margin-bottom: 1.7em;
}

.versoCartao .codigo{
    display: flex;
    justify-content: end;
    margin-right: 0.5em;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 18em;
    padding: 0.5em;
    border: 2px solid #ffffff;
    position: relative;
}

.conteudoLabel{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
} 

.conteudoLabel label{
    font-family: "Open Sans", serif;
}

.btnVerificar{
    background: #071646;
    padding: 0.5em;
    border-radius: 0.8em;
    border: none;
    color: #ffffff;
    margin-top: 2em;
}

.borda-certa{
    border: 2px solid green;
}

.borda-erro{
    border: 2px solid #c55;
}

.resultado{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 0.3em;
    padding: 0.5em;
    height: 10em;
    color: #129c00;
}

.resultado p{
    font-size: calc(1vw + 1.2em);
    margin-bottom: 0.5em;
}

.resultado span{
    font-size: calc(1vw + 0.9em);
}

