@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}


:root{
    --principal: #063453;
    --background: #a3c8e0;

}

html{
    scroll-behavior: smooth;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--principal);
    height: 8vh;
}

.cabecalho h1{
    font-size: calc(1vw + 1.1em);
    margin-left: 0.3em;
    font-family: "Roboto", serif;
}

.hamburguer{
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0.5em;
    z-index: 1;
}

.hamburguer .line{
    background: #fff;
    width: 2em;
    height: 0.3em;
    margin: 0.3em;
    transition: all ease 0.5s;
}

.hamburguer.ativar .line:nth-child(1){
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    transition: all ease 0.5s;
}

.hamburguer.ativar .line:nth-child(2){
    opacity: 0;
}

.hamburguer.ativar .line:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    transition: all ease 0.5s;
} 

.navList{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 80vh;
    background: #020507;
    transition: all ease 0.5s;
    opacity: 0;
}

.navList.ativado{
    opacity: 1;
    transition: all ease 0.5s;
}

.navList a{
    color: #fff;
    font-size: calc(1vw + 1em);
}

#quemSomos{
    height: 100vh;
    background: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#quemSomos h2{
    font-size: calc(1vw + 1em);
    margin-bottom: 1em;
    text-align: center;
    font-family: "Roboto", serif;
}

#quemSomos p{
    text-align: center;
    font-size: calc(1vw + 0.9em);
    font-family: "Liter", serif;
    margin: 0.5em;
}

#quemSomos .bx{
    font-size: calc(1vw + 2.5em);
    color: #a10d07;
    margin-top: 2em;
    cursor: pointer;
    animation: movimento infinite linear 2s;
}

@keyframes movimento {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(50px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
    }
}

#clientes{
    height: 100vh;
    background: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.conteudo-clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    width: 15em;
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 2em;
}

.conteudo-clientes img{
    width: 5em;
    height: 5em;
    border: #000 2px solid;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.conteudo-clientes h3{
    margin-bottom: 1em;
    font-size: calc(1vw + 0.9em);
    font-family: "Roboto", serif;
}

.conteudo-clientes p{
    font-size: calc(1vw + 0.8em);
    margin-bottom: 0.5em;
    font-family: "Liter", serif;
}

#verificar{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #a3c8e0;
}

/* inicio cartao*/ 
.flip-card {
    background-color: transparent;
    width: 30em;
    height: 15em;
    perspective: 1000px;
    color: white;
  }
  
  .heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 17em;
  }
  
  .logo {
    position: absolute;
    top: 6.8em;
    left: 26em;
  }
  
  .chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
  }
  
  .contactless {
    position: absolute;
    top: 3.5em;
    left: 26em;
  }
  
  .number {
    position: absolute;
    font-weight: bold;
    font-size: .8em;
    top: 6.3em;
    left: 1.6em;
  }
  
  .valid_thru {
    position: absolute;
    font-weight: bold;
    top: 320.8em;
    font-size: .02em;
    left: 80.1em;
  }
  
  .date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.6em;
    top: 12em;
    left: 2.8em;
  }
  
  .name {
    position: absolute;
    font-weight: bold;
    font-size: 0.8em;
    top: 14.1em;
    left: 2em;
  }
  
  .strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
  }
  
  .mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
  }
  
  .sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
  }
  
  .code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
  }
  
  .flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
  }

 /*  fim do cartao */

/* .conteudo-cartao{
    margin: 0.2em;
}
 */
/* .frenteCartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    height: 10em;
    background: #3d3c3c;
    border-radius: 1em;
    padding: 0.2em;
    margin-bottom: 0.5em;
    font-family: "Liter", serif;
} */

/* .frenteCartao .marca{
    text-align: end;
    margin-bottom: 1.6em;
    margin-right: 0.5em;
    color: #fff;
} */

/* .numeroCartao{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 1em;
    padding: 0.2em;
    width: 100%;
} */

/* .nomeCartao{
    display: flex;
    margin-left: 1em;
    color: #fff;
} */

/* .versoCartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    height: 10em;
    background: #3d3c3c;
    border-radius: 1em;
    font-family: "Liter", serif;
    color: #fff;
} */

/* .versoCartao span{
    background: #000;
    height: 4vh;
    margin-bottom: 1.7em;
} */

/* .versoCartao .codigo{
    display: flex;
    justify-content: end;
    margin-right: 0.5em;
} */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 18em;
    padding: 0.5em;
    border: 2px solid #ffffff;
    position: relative;
}

.conteudoLabel{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
} 

.conteudoLabel label{
    font-family: "Open Sans", serif;
}

.btnVerificar{
    background: #071646;
    padding: 0.5em;
    border-radius: 0.8em;
    border: none;
    color: #ffffff;
    margin-top: 2em;
    cursor: pointer;
}

.borda-certa{
    border: 2px solid green;
}

.borda-erro{
    border: 2px solid #c55;
}

.resultado{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 0.3em;
    padding: 0.5em;
    height: 10em;
    color: #129c00;
}

.resultado p{
    font-size: calc(1vw + 1.2em);
    margin-bottom: 0.5em;
}

.resultado span{
    font-size: calc(1vw + 0.9em);
}

